@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Theme */
  --primary: #7480ff;
  --primary-content: #050617;
  --secondary: #a991f7;
  --secondary-content: #0a0715;
  --accent: #00cdb7;
  --accent-content: #000f0c;
  --neutral: #2a323c;
  --neutral-content: #a6adbb;
  --base-100: #1d232a;
  --base-200: #191e24;
  --base-300: #15191e;
  --base-400: #111418;
  --base-content: #a6adbb;
  --info: #00b5ff;
  --info-content: #000000;
  --success: #00a96e;
  --success-content: #000000;
  --warning: #ffbe00;
  --warning-content: #000000;
  --error: #ff5664;
  --error-content: #000000;
  background-color: var(--base-100);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
